{% extends 'base.html.twig' %}
{% block title %}
    Log in!
{% endblock %}
{% block body %}
    <section class="section-form">
        <form method="post" class="form form--login">
            {% if error %}
                <div class="alert alert-danger form__error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {# {% if app.user %}
                        <div class="mb-3">
                            You are logged in as
                            {{ app.user.userIdentifier }}
                            ,
                            <a href="{{ path('app_logout') }}">
                                Logout
                            </a>
                        </div>
                    {% endif %} #}
            <h1 class="form__title">
                Login
            </h1>
            <div class="form__group">
                <label for="inputEmail" class="form__label">
                    Email
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form__input" autocomplete="email" required autofocus placeholder="Your email">
            </div>
            <div class="form__group">
                <label for="inputPassword" class="form__label">
                    Password
                </label>
                <input type="password" name="password" id="inputPassword" class="form__input" autocomplete="current-password" required placeholder="Your password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form__group form__group--checkbox">
                <label class="form__label--checkbox">
                    <input type="checkbox" name="_remember_me">
                    Remember me
                </label>
            </div>
            <button class="form__button" type="submit">
                Sign in
            </button>
        </form>
    </section>
{% endblock %}
