{% block card %}
    <a href="{{ path('app_course_show', { id: course.id }) }}" class="card" data-category="{{ course.category.id }}">
        <div class="card__image">
            <img src="uploads/images/{{ course.image }}" alt="{{ course.title }}">
        </div>
        <div class="card__content">
            <div class="card__category">
                <span class="card__category-label">
                    {{ course.category.name }}
                </span>
                <span class="card__price-amount">
                    Free
                </span>
            </div>
            <div class="card__info">
                <span class="card__level">
                    Beginner
                </span>
                <span class="card__hours">
                    120 Hours
                </span>
                <span class="card__rating">
                    3.5 (3k reviews)
                </span>
            </div>
            <h3 class="card__title">
                {{ course.title }}
            </h3>
            <div href="{{ path('app_course_show', { id: course.id }) }}" class="card__link">
                View Course
                <span class="card__link-icon">
                    →
                </span>
            </div>
        </div>
    </a>
{% endblock %}
